
<div class="layout">
    <ng-container *ngTemplateOutlet="view ? read : edit"></ng-container>
    <div class="btn-container-position">
        <button (click)="changeMode()" class="btn btn-outline-secondary me-2">{{getLabel()}}</button>
        <button (click)="openSettings()" class="btn btn-outline-secondary me-2">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
        </button>
    </div>
</div>


<!-- TEXTAREA -->
<ng-template #edit>
    <textarea [(ngModel)]="text" class="hi text-editor"></textarea>
</ng-template>

<!-- View -->
<ng-template #read>
    <div class="scrollable">
        <div *ngFor="let sentence of sentenceList; let i = index"
        (click)="selectSentence(i)"
        [ngClass]="{'sentence-checked': sentence.isChecked, 'sentence-active': sentence.inFocus}"
        class="hi sentence sentence-hover">
            {{sentence.data}}
        </div>
    </div>
</ng-template>